.prev:hover,
.next:hover 
{
  background-color: rgba(0, 0, 0, 0.8);
}

body 
{
    text-align: center;
}
	.btn
	{
		border: none;
		background-color:#ffffff;
		padding: 14px 28px;
		font-size: 40px;
		cursor: pointer;
		display: inline-block;
	}
	
    .btn:hover {background: rgb(144, 238, 144);}
   
    img.egg
    {   
        float : left;
        max-width : 10%;
        max-height : 10%;
    }
    img.yoshi
    {
        width: 35%;
        height: 35%;
        padding-top: 40px;
    }
    .description {color:rgb(0, 0, 0);}
	.resources {color:rgb(0, 0, 0);}
	.playgame {color:rgb(0, 0, 0);}




